<h1>{{title}}</h1>

<p><a href="/facility-waste-types/new" class="btn">Link Facility to Waste Type</a></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Facility Name</th>
      <th>Waste Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each links}}
    <tr>
      <td>{{this.facilityWasteTypeID}}</td>
      <td>{{this.facilityName}}</td>
      <td>{{this.wasteTypeMaterial}}</td>
      <td>
        <a href="/facility-waste-types/{{this.facilityWasteTypeID}}/delete">Remove Link</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>