<h1>{{title}}</h1>

<p><a href="/vehicles/new" class="btn">Add New Vehicle</a></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>License Plate</th>
      <th>Service Type</th>
      <th>Status</th>
      <th>Waste Type ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each vehicles}}
    <tr>
      <td>{{this.vehicleID}}</td>
      <td>{{this.licensePlate}}</td>
      <td>{{this.serviceType}}</td>
      <td>{{this.status}}</td>
      <td>{{this.wasteTypeID}}</td>
      <td>
        <a href="/vehicles/{{this.vehicleID}}/edit">Edit</a> |
        <a href="/vehicles/{{this.vehicleID}}/delete">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>